<div class="account-pages my-5 pt-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6">
        <div>
          <div class="text-center">
            <img
              src="/assets/images/icons/high_priority.svg"
              alt="high_priority.svg"
              height="60"
            />
            <h2 class="text-uppercase text-primary mt-4">Page Not Found</h2>
            <p class="text-muted mt-4">
              It's looking like you may have taken a wrong turn. Don't worry...
              it happens to the best of us. You might want to check your
              internet connection. Here's a little tip that might help you get
              back on track.
            </p>

            <a
              href="/dashboard"
              class="btn btn-primary waves-effect waves-light mt-4"
            >
              Return Home</a
            >
          </div>
        </div>
        <!-- end card -->
      </div>
      <!-- end col -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
