body {
    background-color: white;
    color: black;
}

.tscroll {
    width: 100%;
    overflow-x: scroll;
    margin-bottom: 10px;
}

.tscroll table td:first-child {
    position: sticky;
    left: 0;
    background-color: #ddd;
}

.tscroll td,
.tscroll th {
    border-bottom: dashed #888 1px;
}
